.black_overlay {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	display: none;
	z-index: 50;
}

.black_overlay_nav_answered {
	display: none;
	width: 100%;
	height: 174px;
	pointer-events: none;
	background: #000;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.56));
}

.close_quiz {
	position: fixed;
	top: 40px;
	left: 40px;
	width: 34px;
	height: 34px;
	background: url(../images/dashboard/icon-close.svg) center no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: all 0.2s ease;
	opacity: 0.8;
	z-index: 50;
}

.close_quiz:hover {
	transform: scale(1.06, 1.06);
	opacity: 1;
}

@media screen and (max-width: 1199px) {
	.close_quiz {
		position: fixed;
		top: 16px;
		left: 16px;
		width: 40px;
		height: 40px;
		background-size: 20px 20px;
		opacity: 1;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
}

.menu {
	position: fixed;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	background: url(../images/dashboard/icon-menu-mobile-off.svg) center no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: all 0.2s ease;
	opacity: 1;
	z-index: 200;
}

@media screen and (max-width: 1199px) {
	.menu {
		top: 16px;
		right: 16px;
		width: 40px;
		height: 40px;
		background-size: 22px 22px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
}

.menu--active {
	background-image: url(../images/dashboard/icon-menu-mobile.svg);
	background-color: transparent;
	box-shadow: none;
}

.top_nav, .bottom_nav{
	color:white;
	position: fixed;
	z-index: 999;
  }


.top_nav{
	top: 32px;
    height: 85px;
    margin-bottom: 100px;
    left: 0;
    right: 0;
}

.bottom_nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

  .top_nav .row1, .bottom_nav{
	background:#0261aa;
	padding: 10px;
  }

  .top_nav .row2{
	background:#76abe8;
	padding: 5px 10px;
	border: 1px solid white;
  }

  .top_nav i{
	font-size: 1.2em;
  }

.side_nav {
	position: absolute;
	top: 0;
	right: -160px;
	z-index: 200;
}

@media screen and (max-width: 1199px) {
	.side_nav {
		position: fixed;
		top: 80px;
		right: 0;
		z-index: 100;
		display: none;
	}
}

.side_nav__control {
	position: relative;
	background: rgba(226, 231, 235, 0.32);
	width: 104px;
	height: 104px;
	border-radius: 50%;
	text-align: center;
	color: #282323;
	font-size: 12px;
	line-height: 18px;
	padding-top: 12px;
	cursor: pointer;
	transition: all 0.2s ease;
	margin-bottom: 24px;
}

@media screen and (max-width: 1199px) {
	.side_nav__control {
		background: #fff;
        width: 90px;
        height: 90px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 8px;
        padding-top: 8px;
	}
}

.side_nav__control:last-child {
	margin-bottom: 0;
}

.side_nav__control:hover {
	transform: scale(1.06, 1.06);
}

.side_nav__control--not_hittable {
	cursor: default;
}

.side_nav__control--not_hittable:hover {
	transform: none;
}

.side_nav__control span {
	font-size: 18px;
	font-weight: bold;
}

.side_nav__control:before {
	content: "";
	width: 26px;
	height: 26px;
	display: block;
	margin: auto;
	margin-bottom: 4px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.side_nav__control--progress {
	padding-top: 26px;
}

.side_nav__control--progress:before {
	content: none;
}

.side_nav__control--highlighted {
	background: #00709C;
	color: #fff;
}

.side_nav__control--time_remaining {
	background: #fff;
	border: 1px solid #C9CED1;
}

.side_nav__control--time_remaining:before {
	background-image: url(../images/dashboard/icon-quiz-time-remaining.svg);
}

.side_nav__control--question_index:before {
	background-image: url(../images/dashboard/icon-quiz-question-index.svg);
}

.side_nav__control--mark_for_review:before {
	background-image: url(../images/dashboard/icon-quiz-mark-for-review.svg);
}

.side_nav__control--tutor_mode:before {
	background-image: url(../images/dashboard/icon-menu-support.svg);
	background-size: auto;
}

.side_nav__control__progress_circle {
	position: absolute;
	top: -1px;
	left: -1px;
	stroke: #00709C;
	fill: none;
	stroke-dasharray: 1150;
	stroke-dashoffset: 900;
	stroke-width: 4px;
	stroke-linecap: round;
	pointer-events: none;
}

.side_nav__control__progress_bar {
	height: 8px;
	border-radius: 4px;
	background: #E2E7EB;
	margin: 8px 24px 0 24px;
	overflow: hidden;
}

.side_nav__control__progress_bar__progress {
	background: #00709C;
	height: 8px;
}

.question_form {
	width: 895px;
	/* height: 480px; */
	position: absolute;
	top: calc(50% - 64px);
	left: 50%;
	margin-left: -448px;
	margin-top: -240px;
	box-shadow: 0 16px 56px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	background: #fff;
	z-index: auto;
}

@media screen and (max-width: 991px) {
	.question_form {
		position: inherit;
		top: auto;
		left: auto;
		margin: 80px 20px 120px 20px;
		width: auto;
		height: auto;
	}
}

#question_section{
	margin-top: 100px;
}
.question_form__question {
	/* background: linear-gradient(-90deg, #005E85, #003245); */
	color: #000;
	padding: 24px 40px 0;
	font-size: 18px;
	line-height: 24px;
	cursor: default;
	border-radius: 8px 8px 0 0;
}

.question_form__question img {
    margin: 15px 0;
	max-width: 100%;
}

@media screen and (max-width: 767px) {
	.question_form__question {
		padding: 20px;
		font-size: 16px;
		line-height: 24px;
	}
}

.question_form__choices {
	padding: 10px 70px 40px 70px;
	font-size: 14px;
	color: #282323;
}

@media screen and (max-width: 767px) {
	.question_form__choices {
		padding: 15px;
	}
}

.question_form__choices__choice label {
	position: relative;
	padding: 8px 16px 8px 52px;
	border-radius: 8px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 767px) {
	.question_form__choices__choice label {
		padding: 8px 8px 8px 40px;
	}
}

.question_form__choices__choice label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.question_form__choices__choice label:hover {
	background: rgba(226, 231, 235, 0.32);
}

.question_form__choices__choice label .checkmark {
	position: absolute;
	top: 8px;
	left: 16px;
	height: 24px;
	width: 24px;
	background: url(../images/dashboard/form-radio-button.svg) no-repeat;
	background-size: contain;
	transition: all 0.2s ease;
}

@media screen and (max-width: 767px) {
	.question_form__choices__choice label .checkmark {
		top: 12px;
		left: 8px;
		height: 20px;
		width: 20px;
	}
}

.question_form__choices__choice label input:checked~.checkmark {
	background-image: url(../images/dashboard/form-radio-button-checked.svg);
}

.question_form__choices__choice label input.incorrect~.checkmark {
	background-image: url(../images/dashboard/icon-answered-incorrectly.svg);
}

.question_form__choices__choice label input.correct~.checkmark {
	background-image: url(../images/dashboard/icon-answer-correct.svg);
}

.question_form__choices__choice img.img-fluid.answer-image {
    width: 250px;
    /* max-height: 100px; */
}

.question_form__sorte_drag .list-group {
    cursor: move;
	min-height: 50px;
	background-color: lightgrey;
}

.question_form--not_centered {
	top: 56px;
	margin-top: auto;
	height: auto;
	position: relative !important;
	z-index: 10 !important;
}

@media screen and (max-width: 991px) {
	.question_form--not_centered {
		top: 0;
		margin-top: 80px;
	}
}

.question_form--not_centered .question_form__nav {
	position: fixed;
	bottom: 32px;
}

@media screen and (max-width: 991px) {
	.question_form--not_centered .question_form__nav {
		bottom: 0;
	}
}

.question_form__nav {
	position: absolute;
	bottom: -128px;
	/* left: 50%; */
	/* width: 614px; */
	height: 88px;
	background: #fff;
	border-radius: 44px;
	box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
	/* margin-left: -307px; */
	text-align: center;
	z-index: 10;
}

@media screen and (max-width: 991px) {
	.question_form__nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 88px;
		border-radius: 0;
		margin-left: 0;
	}
}

.question_form__nav__prev_btn {
	left: 94px;
}

@media screen and (max-width: 991px) {
	.question_form__nav__prev_btn {
		left: 20px;
	}
}

.question_form__nav__next_btn {
	right: 98px;
}

@media screen and (max-width: 991px) {
	.question_form__nav__next_btn {
		right: 20px;
	}
}

.question_form__nav .btn-disabled {
	background: #ddd;
	color: #fff;
	font-size: 20px;
	line-height: 56px;
	padding: 0 48px;
	margin-top: 16px;
	cursor: default;
	pointer-events: none;
}

.question_form__nav .btn-primary {
	background: #00709C;
	color: #fff;
	font-size: 20px;
	line-height: 56px;
	padding: 0 48px;
	margin-top: 16px;
}

.question_form__nav .btn-primary:hover {
	transform: scale(1.02, 1.02);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.question_form__nav .btn-highlighted {
	position: absolute;
	top: 0;
	right: 24px;
	background: #ED3967;
	color: #fff;
	font-size: 20px;
	line-height: 56px;
	padding: 0 48px;
	margin-top: 16px;
}

.question_form__nav .btn-highlighted:hover {
	transform: scale(1.02, 1.02);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.question_form__nav .btn-secondary {
	position: absolute;
	top: 24px;
	font-size: 16px;
	background: none;
	color: #666;
}

.question_form__nav .btn-secondary img {
	opacity: 1;
}

.question_form__nav .btn-secondary:hover {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.question_form__nav #prev_bnt {
    left: 94px;
}

@media screen and (max-width: 991px) {
    .question_form__nav #prev_bnt {
        left: 16px;
    }
}

.question_form__nav #prev_bnt.moved {
    left: 16px;
}

.question_result {
	border-top: 2px solid rgba(204, 204, 204, 0.24);
	padding: 24px 64px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

@media screen and (max-width: 991px) {
	.question_result {
		padding: 32px 16px 0 16px;
		font-size: 12px;
		line-height: 20px;
	}
}

.question_result span {
	font-size: 24px;
	font-weight: 300;
}

@media screen and (max-width: 991px) {
	.question_result span {
		font-size: 18px;
	}
}

@media screen and (max-width: 991px) {
	.question_result__item {
		margin-bottom: 32px;
	}
}

.question_result__item--red {
	color: #E04A4C;
}

.question_result__item__icon {
	margin-bottom: 8px;
}

.question_feedback {
	position: relative;
	background: #00709C url(../images/dashboard/bg-blue.jpg) repeat;
	width: 100%;
	padding: 136px 0 230px 0;
	color: #fff;
	z-index: 1;
}

@media screen and (max-width: 991px) {
	.question_feedback {
		padding: 120px 0 160px 0;
		margin-top: -180px;
	}
}

.question_feedback h2 {
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	margin-top: 56px;
	margin-bottom: 24px;
	font-weight: 700;
}

@media screen and (max-width: 991px) {
	.question_feedback h2 {
		text-align: left;
	}
}

.question_feedback p {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 32px;
}

.question_feedback .container {
	max-width: 830px;
}

.question_feedback__video {
	text-align: center;
	margin-bottom: 56px;
}

.question_feedback__video iframe {
	width: 600px;
	height: 340px;
	border-radius: 8px;
	box-shadow: 0 24px 72px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 991px) {
	.question_feedback__video iframe {
		width: 100%;
		height: 240px;
	}
}

.question_feedback__rationale {
	background: #F5F7F8;
	padding: 16px;
	color: #282323;
	font-size: 14px;
	line-height: 24px;
	border-radius: 4px;
	margin-bottom: 8px;
}

.question_feedback__rationale__title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}

.question_feedback__rationale__title--correct {
	color: #50A85B;
}

.question_feedback__rationale__title--correct:before {
	content: "";
	display: inline-block;
	margin-right: 6px;
	margin-top: -4px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../images/dashboard/icon-answer-correct.svg) center;
	background-size: contain;
}

.question_feedback__rationale__title--incorrect {
	color: #E04A4C;
}

.question_feedback__rationale__title--incorrect:before {
	content: "";
	display: inline-block;
	margin-right: 6px;
	margin-top: -4px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../images/dashboard/icon-answer-incorrect.svg) center;
	background-size: contain;
}

.question_feedback__rationale ul {
    padding-left: 25px;
}

.question_feedback__rationale li {
	margin-bottom: 10px;
    list-style: disc;
}

.question_index img {
	display: none;
}

.question_index p {
	display: inline;
}

.question_index__item {
	background: rgba(226, 231, 235, 0.32);
	border: 1px solid rgba(226, 231, 235, 0.32);
	margin-bottom: 8px;
	border-radius: 4px;
	padding: 8px 0 8px 16px;
	font-size: 14px;
	color: #212529;
	line-height: 18px;
	cursor: pointer;
	transition: all 0.2s ease;
	opacity: 0.64;
}

.question_index__item:hover {
	background: #fff;
	border: 1px solid #ccc;
	opacity: 1;
}

.question_index__item--answered_correctly {
	background: rgba(98, 207, 112, 0.08) !important;
	border: 1px solid rgba(98, 207, 112, 0.08) !important;
	opacity: 1;
}

.question_index__item--answered_correctly:hover {
	opacity: 0.8;
}

.question_index__item--answered_incorrectly {
	background: rgba(247, 81, 84, 0.08) !important;
	border: 1px solid rgba(247, 81, 84, 0.08) !important;
	opacity: 1;
}

.question_index__item--answered_incorrectly:hover {
	opacity: 0.8;
}

.question_index__item--seen {
	opacity: 1;
}

.question_index__item__question {
	width: calc(74% - 16px);
	margin-right: 16px;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.question_index__item__info {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}

.question_index__item__info__item {
	display: inline-block;
	margin-right: 16px;
	font-weight: bold;
	color: #212529;
	font-size: 12px;
}

.question_index__item__info__item:before {
	content: "";
	display: inline-block;
	margin-right: 6px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.question_index__item__info__item--marked:before {
	background-size: 18px;
	background-image: url(../images/dashboard/icon-quiz-mark-for-review.svg);
}

.question_index__item__info__item--seen {
	color: #ccc;
	font-weight: normal;
}

.question_index__item__info__item--seen:before {
	background-image: url(../images/dashboard/icon-question-seen.svg);
}

.question_index__item__info__item--answered_correctly:before {
	background-image: url(../images/dashboard/icon-answer-correct.svg);
}

.question_index__item__info__item--answered_incorrectly:before {
	background-image: url(../images/dashboard/icon-answer-incorrect.svg);
}

.quiz_result_header {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	padding: 48px 0;
}

@media screen and (max-width: 991px) {
	.quiz_result_header {
		padding: 56px 0;
		font-size: 20px;
	}
}

.quiz_result_header h1 {
	font-size: 48px;
	font-weight: 600;
}

@media screen and (max-width: 991px) {
	.quiz_result_header h1 {
		font-size: 32px;
	}
}

.quiz_result_total {
	position: relative;
	background: #00709C url(../images/dashboard/bg-quiz-result-header.jpg) no-repeat;
	background-size: cover;
	border-radius: 8px;
	margin-bottom: 24px;
	padding: 32px 40px;
}

@media screen and (max-width: 991px) {
	.quiz_result_total {
		text-align: center;
		padding: 32px 0 24px 0;
	}
}

.quiz_result_total__chart {
	width: 156px;
	height: 156px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	position: relative;
	padding-top: 0;
	float: left;
}

@media screen and (max-width: 991px) {
	.quiz_result_total__chart {
		float: none;
		margin: auto;
	}
}

.quiz_result_total__chart__radius {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	width: 100%;
}

.quiz_result_total__chart__number {
	margin-top: 30px;
	font-size: 48px;
	margin-bottom: 12px;
}

.quiz_result_total__chart .progress-circle {
	width: 160px;
	height: 160px;
	margin: 0;
}

.quiz_result_total__chart .progress-circle span {
	background: #00709C;
	color: #fff;
	width: 135px;
	height: 135px;
	line-height: 30px;
	left: 27%;
	top: 27%;
	font-size: 16px;
}

.quiz_result_total__chart .progress-circle span:after,
.quiz_result_insights__chart_content__chart .progress-circle span:after,
.quiz_result_insights__scores__item__topic__details .progress-circle span:after {
	content: '';
}

.quiz_result_insights__chart_content__chart .progress-circle {
	width: 100px;
	height: 100px;
	margin: 0;
}

.quiz_result_insights__chart_content__chart .progress-circle span {
	background: #00709C;
	color: #fff;
	width: 80px;
	height: 80px;
	line-height: 23px;
	left: 40%;
	top: 40%;
	font-size: 12px;
}

.quiz_result_insights__scores__item__topic__details .progress-circle {
	width: 26px;
	height: 26px;
	margin: 0;
}

.quiz_result_insights__scores__item__topic__details .progress-circle span {
	color: #fff;
	width: 22px;
	height: 22px;
	line-height: 20px;
	left: 32px;
	top: 32px;
	font-size: 12px;
}

.quiz_result_total__others {
	float: left;
	color: #fff;
	border-left: 1px solid rgba(255, 255, 255, 0.24);
	margin-left: 32px;
	padding-left: 32px;
	font-size: 18px;
	font-weight: 300;
	margin-top: 48px;
}

@media screen and (max-width: 991px) {
	.quiz_result_total__others {
		float: none;
		border-left: 0;
		margin: 32px auto;
		padding-left: 0;
		display: inline-block;
	}
}

.quiz_result_total__others__text {
	display: inline-block;
	vertical-align: middle;
	margin-right: 16px;
}

@media screen and (max-width: 991px) {
	.quiz_result_total__others__text {
		text-align: left;
	}
}

.quiz_result_total__others__chart {
	width: 60px;
	height: 60px;
	position: relative;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}

.quiz_result_total__others__chart__radius {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.quiz_result_total__others__chart .progress-circle {
	margin: 0px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: transparent;
}

.quiz_result_total__others__chart .progress-circle span {
	font-size: 18px;
	color: #fff;
	left: 35px;
	top: 35px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #016187;
	border: solid 1px #79aabd;
}

.quiz_result_total__others__chart .progress-circle span:after {
	content: "";
}

.quiz_result_total__links {
	position: absolute;
	top: 55px;
	right: 88px;
	font-size: 14px;
}

@media screen and (max-width: 991px) {
	.quiz_result_total__links {
		position: inherit;
		top: auto;
		right: auto;
		border-top: 1px solid rgba(0, 0, 0, 0.16);
		padding-top: 24px;
	}
}

.quiz_result_total__links__item {
	margin-bottom: 16px;
	font-weight: bold;
}

@media screen and (max-width: 991px) {
	.quiz_result_total__links__item {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 10px;
		margin-left: 10px;
	}
}

.quiz_result_total__links__item a {
	color: #fff;
}

.quiz_result_total__links__item a:before {
	content: "";
	width: 16px;
	height: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 4px;
	display: inline-block;
	vertical-align: middle;
}

.quiz_result_total__links__item--delete_exam a:before {
	width: 12px;
	height: 12px;
}

.quiz_result_total__links__item--redo_exam a:before {
	background-image: url(../images/dashboard/icon-quiz-redo.svg);
}

.quiz_result_total__links__item--share_result a:before {
	background-image: url(../images/dashboard/icon-quiz-share.svg);
}

.quiz_result_total__links__item--delete_exam a:before {
	background-image: url(../images/dashboard/icon-delete-white.svg);
}

.quiz_result_partial {
	background: #fff;
	border-radius: 8px;
	margin-bottom: 16px;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.16);
	position: relative;
}

.quiz_result_partial__show_details {
	font-size: 12px;
	font-weight: bold;
	color: #888;
	position: absolute;
	top: 12px;
	right: 12px;
}

.quiz_result_partial__show_details:after {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: baseline;
	background: url(../images/dashboard/icon-chevron-down-gray.svg) center no-repeat;
	background-size: contain;
	margin-left: 4px;
	transition: all 0.4s ease;
}

.quiz_result_partial__show_details--active:after {
	transform: rotate(180deg);
}

.quiz_result_partial__chart_content {
	width: 40%;
	float: left;
	text-align: center;
	padding: 32px 32px 48px 32px;
}

@media screen and (max-width: 991px) {
	.quiz_result_partial__chart_content {
		width: auto;
		float: none;
	}
}

.quiz_result_partial__chart_content h2 {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 16px;
}

@media screen and (max-width: 991px) {
	.quiz_result_partial__chart_content h2.desktop {
		display: none;
	}
}

.quiz_result_partial__chart_content h2.mobile {
	float: left;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 28px;
	vertical-align: middle;
	width: calc(100% - 112px);
	margin-left: 16px;
	text-align: left;
}

@media screen and (min-width: 990px) {
	.quiz_result_partial__chart_content h2.mobile {
		display: none;
	}
}

.quiz_result_partial__chart_content__chart {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background: #00709C;
	position: relative;
	margin: auto;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

@media screen and (max-width: 991px) {
	.quiz_result_partial__chart_content__chart {
		float: left;
	}
}

.quiz_result_partial__chart_content__chart__radius {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.quiz_result_partial__chart_content__chart__number {
	font-size: 24px;
	padding-top: 26px;
}

.quiz_result_partial__chart_content__chart__average {
	position: absolute;
	bottom: -32px;
	left: 0;
	color: #000;
	width: 100%;
}

.quiz_result_partial__chart_content__chart__average:before {
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 2px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.quiz_result_partial__chart_content__chart__average--above {
	color: #62CF70;
}

.quiz_result_partial__chart_content__chart__average--above:before {
	background-image: url(../images/dashboard/icon-quiz-result-above-average.svg);
}

.quiz_result_partial__chart_content__chart__average--below {
	color: #F75154;
}

.quiz_result_partial__chart_content__chart__average--below:before {
	background-image: url(../images/dashboard/icon-quiz-result-below-average.svg);
}

.quiz_result_partial__scores {
	width: 60%;
	min-height: 180px;
	padding: 40px 32px;
	float: left;
	border-left: 1px solid rgba(204, 204, 204, 0.4);
}

@media screen and (max-width: 991px) {
	.quiz_result_partial__scores {
		display: none;
		min-height: inherit;
		width: auto;
		float: none;
		padding: 24px 0 8px 0;
	}
}

.quiz_result_partial__scores__item {
	border-bottom: 1px solid #ddd;
	padding: 12px 16px;
	font-size: 14px;
	position: relative;
}

.quiz_result_partial__scores__item:last-child {
	border-bottom: 0;
}

.quiz_result_partial__scores__item h3 {
	font-size: 16px;
	line-height: normal;
	margin-bottom: 0;
}

.quiz_result_partial__scores__item__details {
	position: absolute;
	top: 10px;
	right: 16px;
}

.quiz_result_partial__scores__item__details__number {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
}

.quiz_result_partial__scores__item__details__radius {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	margin-left: 12px;
	position: relative;
	pointer-events: none;
}

.quiz_result_partial__scores__item__details__radius img {
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
}

footer.footer_quiz_result {
	background: none;
	margin-bottom: 120px;
}

.btn-primary {
	background: #00709C;
	color: #fff;
	line-height: 64px;
	padding: 0 56px;
	font-size: 20px;
	letter-spacing: -0.2px;
	border-radius: 80px;
}

.btn-primary:hover {
	background: #00709C;
	transform: scale(1.02, 1.02);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 991px) {
	.btn-primary {
		line-height: 48px;
		padding: 0 24px;
		font-size: 16px;
		letter-spacing: -0.1px;
	}
}

.fancybox-content {
	transform: none !important;
}

.fancybox-content img {
	width: 50vw !important;
	height: unset !important;
	position: absolute;
	left: 25vw;
	top: 25vh;
}

input.input-answer {
	width: 100%;
	padding: 10px;
}

.modal_rationales {
	font-size: 14px;
	padding: 32px;
}

.modal_rationales__question {
	background: #00709C url(../images/dashboard/bg-quiz-result-header.jpg) no-repeat;
	background-size: cover;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 24px;
	border-radius: 4px;
	margin: -24px;
}

.modal_rationales__video {
	text-align: center;
}

.modal_rationales__video iframe {
	width: 600px;
	height: 340px;
	border-radius: 8px;
	box-shadow: 0 24px 72px rgba(0, 0, 0, 0.4);
}

.modal_rationales h4 {
	font-size: 16px;
	font-weight: bold;
}

.question_feedback__rationale {
	background: #F5F7F8;
	padding: 16px;
	color: #282323;
	font-size: 14px;
	line-height: 24px;
	border-radius: 4px;
	margin-bottom: 8px;
}

.question_feedback__rationale__title--incorrect {
	color: #E04A4C;
}

.question_feedback__rationale__title--correct {
	color: #50A85B;
}

.question_feedback__rationale__title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}

.quiz_result_header {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	padding: 48px 0;
}

@media screen and (max-width: 991px) {
	.quiz_result_header {
		padding: 56px 0;
		font-size: 20px;
	}
}

.quiz_result_header h1 {
	font-size: 48px;
	font-weight: 600;
	color: #282323;
}

@media screen and (max-width: 991px) {
	.quiz_result_header h1 {
		font-size: 32px;
	}
}

.quiz_result_insights {
	background: #fff;
	border-radius: 8px;
	margin-bottom: 24px;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.16);
	position: relative;
}

.quiz_result_insights__chart_content {
	padding: 24px 32px;
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__chart_content {
		width: auto;
		float: none;
	}
}

.quiz_result_insights__chart_content__chart {
	float: left;
	text-align: center;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	position: relative;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__chart_content__chart {
		float: left;
	}
}

.quiz_result_insights__chart_content__chart__radius {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.quiz_result_insights__chart_content__chart__number {
	font-size: 24px;
	padding-top: 20px;
}

.quiz_result_insights__chart_content__header {
	float: left;
	margin-left: 24px;
	padding-top: 20px;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__chart_content__header {
		margin-left: 16px;
		width: calc(100% - 96px - 16px);
	}
}

.quiz_result_insights__chart_content__header h2 {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 4px;
	text-align: left;
	letter-spacing: -0.64px;
	font-weight: 700;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__chart_content__header h2 {
		font-size: 18px;
		line-height: 22px;
	}
}

.quiz_result_insights__chart_content__header__average {
	color: #000;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
}

.quiz_result_insights__chart_content__header__average--above {
	color: #62CF70;
}

.quiz_result_insights__chart_content__header__average:before {
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 2px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.quiz_result_insights__chart_content__header__average--above:before {
	background-image: url(../images/dashboard/icon-quiz-result-above-average.svg);
}

.quiz_result_insights__chart_content__header__average--below {
	color: #F75154;
}

.quiz_result_insights__chart_content__header__average--below:before {
	background-image: url(../images/dashboard/icon-quiz-result-below-average.svg);
}

.quiz_result_insights__scores {
	padding: 16px 32px;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__scores {
		padding: 8px 16px;
	}
}

.quiz_result_insights__scores__item {
	position: relative;
}

.quiz_result_insights__scores__item__topic {
	border-bottom: 1px solid rgba(204, 204, 204, 0.4);
	padding: 16px 0;
	cursor: pointer;
}

.quiz_result_insights__scores__item__topic__details {
	float: left;
	width: 112px;
	height: 26px;
	vertical-align: middle;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__scores__item__topic__details {
		width: auto;
		margin-right: 8px;
	}
}

.quiz_result_insights__scores__item__topic__details__radius {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	position: relative;
	pointer-events: none;
}

.quiz_result_insights__scores__item__topic__details__radius img {
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
}

.quiz_result_insights__scores__item__topic__details__numbers {
	display: inline-block;
	vertical-align: middle;
	background: rgba(226, 231, 235, 0.64);
	border-radius: 2px;
	margin-left: 4px;
	padding: 0 6px;
	font-size: 12px;
	color: #626466;
}

.quiz_result_insights__scores__item__topic h3 {
	float: left;
	font-size: 16px;
	line-height: normal;
	margin-bottom: 0;
	font-weight: bold;
	line-height: 26px;
	cursor: pointer;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__scores__item__topic h3 {
		width: 52%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

h3.quiz_result_insights__scores__item__subtopic {
	font-size: 16px;
	margin-bottom: 0;
	line-height: normal;
	font-weight: bold;
	line-height: 26px;
	cursor: pointer;
}

.quiz_result_insights__scores__item__topic__view_answers {
	text-align: right;
	font-size: 14px;
	color: #666;
	line-height: 26px;
	float: right;
}

.quiz_result_insights__scores__item__answers {
	display: none;
	background: rgba(226, 231, 235, 0.56);
	padding: 40px 32px;
	border-radius: 4px;
	margin-bottom: 32px;
	font-size: 14px;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__scores__item__answers {
		padding: 16px;
	}
}

.quiz_result_insights__scores__item__answers__question_content {
	border-bottom: 1px solid rgba(204, 204, 204, 0.4);
	padding-bottom: 24px;
	margin-bottom: 24px;
}

.quiz_result_insights__scores__item__answers__question_content__qa {
	width: calc(100% - 200px);
	float: left;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__scores__item__answers__question_content__qa {
		width: auto;
		float: none;
	}
}

.quiz_result_insights__scores__item__answers__question_content__qa__answer__sentence {
	font-size: 12px;
	line-height: 18px;
}

.quiz_result_insights__scores__item__answers__question_content__view_rationale {
	width: 130px;
	padding-left: 10px;
	float: right;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	cursor: pointer;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__scores__item__answers__question_content__view_rationale {
		width: auto;
		float: none;
		float: right;
		line-height: 24px;
		margin-top: 16px;
	}
}

.quiz_result_insights__scores__item__answers__question_content {
	border-bottom: 1px solid rgba(204, 204, 204, 0.4);
	padding-bottom: 24px;
	margin-bottom: 24px;
}

.quiz_result_insights__scores__item__answers__question_content__qa {
	width: calc(100% - 200px);
	float: left;
}

@media screen and (max-width: 991px) {
	.quiz_result_insights__scores__item__answers__question_content__qa {
		width: auto;
		float: none;
	}
}

.quiz_result_insights__scores__item__answers__question_content:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

footer.footer_quiz_result {
	background: none;
	margin-bottom: 120px;
}

.quiz_result_insights__scores__item__answers__question_content__qa__answer__sentence--correct:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon-quiz-answer-correct.svg) center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-right: 8px;
}

.quiz_result_insights__scores__item__answers__question_content__qa__answer__sentence--incorrect:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon-quiz-answer-incorrect.svg) center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-right: 8px;
}

.quiz_result_insights__scores__item__answers__question_content__qa__answer__label {
	font-size: 10px;
	margin-bottom: -3px;
	text-transform: uppercase;
}

.quiz_result_insights__scores__item__answers__question_content__qa__answer__label--correct {
	font-style: italic;
}

.quiz_result_insights__scores__item__answers__question_content__qa__answer__label--incorrect {
	color: #E04A4C;
}

.quiz_result_insights__scores__item__topic__view_answers:after {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: baseline;
	background: url(../images/dashboard/icon-chevron-down-gray.svg) center no-repeat;
	background-size: contain;
	margin-left: 4px;
	transition: all 0.4s ease;
}

.footer_quiz_result .btn-primary {
	background: #00709C;
	color: #fff;
	line-height: 64px;
	padding: 0 56px;
	font-size: 20px;
	letter-spacing: -0.2px;
	border-radius: 80px;
}

#screenshot-canvas {
	max-width: 300px;
}

#screenshot-canvas .progress {
	margin: 0 25px;
}

#screenshot-canvas.container {
	padding: 0;
}

#screenshot-canvas .quiz_result_total {
	margin-bottom: 0;
	border-radius: 0;
}

#screenshot-canvas .quiz_result_total__chart {
	width: unset;
	height: unset;
	float: none;
}

#screenshot-canvas .quiz_result_total__others {
	border-left: none;
	float: none;
	padding: 0;
	text-align: center;
	margin-top: 10px;
	margin-left: 0;
}

#screenshot-canvas .quiz_result_total__chart__number {
	font-size: 70px;
	margin-bottom: 20px;
}

#canvas-content {
	text-align: center;
}

.quiz_result_insights img,
.modal_rationales img {
	max-width: 100%;
}

#shareQuizModal,
#deleteQuizModal,
#rationaleModal {
	max-width: 98vw;
	padding-left: 2vw;
}

#drag-1 {
    background-color: transparent;
    /* color: red; */
    /* border-radius: 50%; */
    /* padding: 5px 15px; */
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    position: absolute;
    /* border: red 2px solid; */
    left: 0;
    top: 0;
}


#drag-1 img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.image-draggable {
    position: relative;
	max-width: 350px;
	margin: auto;
}

#drag-1 i.fa {
    /* text-shadow: 2px 2px 0px red; */
    font-size: 5px;
    vertical-align: middle;
}

.image-draggable img {
    width: 100%;
}

#draggable-pointer {
    position: absolute;
    left: 50%;
    color: red;
    bottom: 0;
}

.question_form__choices__choice .item_answer .katex { font-size: 1.8em; }
